extends ../layout

block content
	h1.
		#{title} #{user.userName}
	h2 But if you must...
		
	form#formEditUser(name="editUser", method="put", action="/users/#{user._id}")
	
		input#input-userName(type="text", value='#{user.userName}', name="userName")

		input#inputEmail(type="text", value='#{user.email}', name="email")

		input#inputPassword(type="text", value='#{user.password}', name="password")

		button#btnSubmit(type="submit") update
