extends ../layout

block content
  #block-content
    h1.
      #{user.userName}
    h2 player since #{userSince}
      
    form#getEditUser(name="getEditUserBtn", method="get", action="/users/#{user._id}/edit")
      button.btnSubmit(type="submit") edit profile
    
    form#getNewDeck(name="getNewDeckBtn", method="get", action="/users/#{user._id}/decks/new")
      button.btnSubmit(type="submit") create a deck
    
      #decks-index
        - each deck in decks
          a(href="/decks/#{deck.id}")
            .deck
              = deck.deckName     
